/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

/* Sidebar Styles */
#menu {
    background-color: #333;
    color: white;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    height: 100%;
    position: fixed;
}

.menu-item {
    margin-bottom: 15px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.menu-item p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #ccc;
}

/* Content Styles */
#content {
    margin-left: 300px; /* Sidebar width */
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

/* Center Content for Index */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.welcome-section {
    max-width: 800px;
}

.cover-image {
    width: 40%; /* Adjust the size as needed */
    max-width: 400px; /* Limit the maximum width */
    height: auto;
    margin-bottom: 20px;
}
  h1 {
        margin-bottom: 0.5em; /* Adjust this value for desired spacing */
    }
